<div xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:render partial="formErrors" arguments="{object}"/>
    <header id="basketheader">Warenkorb:</header>
    <section id="basket">
        <f:for each="{sessionobject}" as="sessionobjects">
            <article class="basketposition">
                <div class="basketpositionimage">
                    <f:image src="uploads/tx_wewoshop/{sessionobjects.Imagesmall}" alt="Testbildklein" maxHeight="100" />
                </div>
                <ul class="basketpositiontext">
                    <li><b>
                        <f:translate key="tx_wewoshop_domain_model_product.title"/>:</b> {sessionobjects.Produktname}</li>
                    <li>
                        <f:form action="changeBasketQuantity" id="changeBasketQuantity[{sessionobjects.Produktuid}]" >
                            <label for="basketquantity"><b>Anzahl:</b></label>
                            <f:form.textfield type="number" id="basketquantity" class="basketquantity" value="{sessionobjects.Anzahl}" name="positionQuantity" />
                            <span style="display:none;" class="changemessage">Änderung durchgeführt</span><br />
                            <b><f:translate key="tx_wewoshop_domain_model_product.price"/>:</b>
                                <f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{sessionobjects.Preis}</f:format.currency> (inkl. MwSt.)<br />
                            <f:form.hidden name="productuid" value="{sessionobjects.Produktuid}" />
                            <f:form.submit value="aktualisieren" />
                        </f:form>
                    </li>
                    <li>
                        <f:form action="deleteBasketPosition" >
                            <f:form.hidden name="productuid" value="{sessionobjects.Produktuid}" />
                            <f:form.submit value="Position löschen" />
                        </f:form>
                    </li>
                </ul>
            </article>
        </f:for>
    </section>



<f:link.action class="basketbacktolist" action="list">Zurück zur Übersicht</f:link.action><br />
<f:link.action controller="FrontendUserVerify" action="showForm">Zur Kasse</f:link.action><br/>
</f:section>
</div>















