<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<label for="title">
	<f:translate key="tx_wewoshop_domain_model_product.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="size">
	<f:translate key="tx_wewoshop_domain_model_product.size" />
</label><br />
	<f:form.textarea property="size" cols="40" rows="15" /><br />
<label for="weight">
	<f:translate key="tx_wewoshop_domain_model_product.weight" />
</label><br />
	<f:form.textarea property="weight" cols="40" rows="15" /><br />
<label for="color">
	<f:translate key="tx_wewoshop_domain_model_product.color" />
</label><br />
	<f:form.textarea property="color" cols="40" rows="15" /><br />