<fieldset class="deliveryAddress">
    <p>
        <label for="firstNameDelivery"><f:translate key="tx_wewoshop_domain_model_frontenduser.first_name"/></label>
        <f:form.textfield id="firstNameDelivery" name="deliveryAddress[firstNameDelivery]" value="{deliveryAddress.firstNameDelivery}" type="text" class="text"/>
    </p>
    <p>
        <label for="lastNameDelivery"><f:translate key="tx_wewoshop_domain_model_frontenduser.last_name"/></label>
        <f:form.textfield id="lastNameDelivery" name="deliveryAddress[lastNameDelivery]" value="{deliveryAddress.lastNameDelivery}" type="text" class="text"/>
    </p>
    <p>
        <label for="addressDelivery"><f:translate key="tx_wewoshop_domain_model_frontenduser.address"/></label>
        <f:form.textfield id="addressDelivery" name="deliveryAddress[addressDelivery]" value="{deliveryAddress.addressDelivery}" type="text" class="text"/>
    </p>
    <p>
        <label for="zipDelivery"><f:translate key="tx_wewoshop_domain_model_frontenduser.zip"/></label>
        <f:form.textfield id="zipDelivery" name="deliveryAddress[zipDelivery]" value="{deliveryAddress.zipDelivery}" type="text" class="text"/>
    </p>
    <p>
        <label for="cityDelivery"><f:translate key="tx_wewoshop_domain_model_frontenduser.city"/></label>
        <f:form.textfield id="cityDelivery" name="deliveryAddress[cityDelivery]" value="{deliveryAddress.cityDelivery}" type="text" class="text"/>
    </p>
</fieldset>