<table class="tx-wewoshop" >
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_payment.account" />
		</td>
		<td>
			{payment.account}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_payment.debit" />
		</td>
		<td>
			{payment.debit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_payment.debit_account_number" />
		</td>
		<td>
			{payment.debitAccountNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_payment.debit_bank_code" />
		</td>
		<td>
			{payment.debitBankCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_payment.debit_bank_name" />
		</td>
		<td>
			{payment.debitBankName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_payment.pre_payment" />
		</td>
		<td>
			{payment.prePayment}
		</td>
	</tr>
</table>