<label for="firstNameDelivery">
	<f:translate key="tx_wewoshop_domain_model_deliveryaddress.first_name_delivery" />
</label><br />
	<f:form.textfield property="firstNameDelivery" /><br />
<label for="lastNameDelivery">
	<f:translate key="tx_wewoshop_domain_model_deliveryaddress.last_name_delivery" />
</label><br />
	<f:form.textfield property="lastNameDelivery" /><br />
<label for="addressDelivery">
	<f:translate key="tx_wewoshop_domain_model_deliveryaddress.address_delivery" />
</label><br />
	<f:form.textfield property="addressDelivery" /><br />
<label for="zipDelivery">
	<f:translate key="tx_wewoshop_domain_model_deliveryaddress.zip_delivery" />
</label><br />
	<f:form.textfield property="zipDelivery" /><br />
<label for="cityDelivery">
	<f:translate key="tx_wewoshop_domain_model_deliveryaddress.city_delivery" />
</label><br />
	<f:form.textfield property="cityDelivery" /><br />