<table class="tx-wewoshop" >
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_deliveryaddress.first_name_delivery" />
		</td>
		<td>
			{deliveryAddress.firstNameDelivery}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_deliveryaddress.last_name_delivery" />
		</td>
		<td>
			{deliveryAddress.lastNameDelivery}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_deliveryaddress.address_delivery" />
		</td>
		<td>
			{deliveryAddress.addressDelivery}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_deliveryaddress.zip_delivery" />
		</td>
		<td>
			{deliveryAddress.zipDelivery}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wewoshop_domain_model_deliveryaddress.city_delivery" />
		</td>
		<td>
			{deliveryAddress.cityDelivery}
		</td>
	</tr>
</table>